name: GitHub Metrics

on:
  schedule:
    - cron: "0 0 * * *"  # daily (or any schedule)
  workflow_dispatch:

jobs:
  stats:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: Aryan-202
          # optional configs:
          template: classic
          plugin_languages: yes
          # add other plugin options as needed
